/* body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blue;
} */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../img/galeriaImagen14.webp"); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-attachment: fixed; /* Hace que la imagen de fondo sea fija */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.cabecera{
    background-color: #10379F;
    width: 100%;
    height: 100%;
    color:white;
    padding-top: 10px;
}
.titulo{
    display: inline-block;
    font-size: 4em;
    margin-left: 50px;
}
.portada{
    /* display: flow-root; */
    color: white;
    text-align: center;
    /* position:absolute ; */
    font-weight: 50;
    font-family:arial;
    font-style:normal;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 64px;
    margin-top: 0px;
    padding-top: 80px;
    /* left:10%;
    right: 10%; */
    color: white; /* Color de texto blanco */
    font-size: 6em; /* Tamaño del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    height: 100%;
    text-shadow: 
   /* -1px -1px 0 #000, /* Sombra negra hacia arriba y a la izquierda */
     1px -1px 0 #000, /* Sombra negra hacia arriba y a la derecha */
    -1px  1px 0 #000, /* Sombra negra hacia abajo y a la izquierda */
     1px  1px 0 #000; /* Sombra negra hacia abajo y a la derecha */
}
.imagen {
    width: 100%;
    height: 600px;
    margin-top: 0px;
   /* background-image: url("../img/imagen1Oceano2\ 1.png");*/
    background-size: cover; /* Escalar la imagen para que cubra todo el div */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center; /* Centrar la imagen en el div */
}
.imagen-cabecera{
    margin-top: 0px;
}
.imagen-cabecera h1{
    margin-top: 0px;
}

img.cabecera{
    width: 74px;
    height: 74px;
    float: left;
    padding-left:10px;
    padding-top: 2px;

}
.imagen {
    position: relative;
    width: 100%;
    height: 600px; /* o el alto que prefieras */
    overflow: hidden;
}

#videoBackground {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.imagen h1 {
    position: relative;
    z-index: 1;
    padding-top: 200px;
    /* Estilos adicionales para tu h1 van aquí */
}
h3{
    margin-top: 0px;
    font-weight: 50;
    font-family:arial;
    font-style:normal;
    font-size: 24px;
}

.nav{
    /* float: right; */
    color: white;
    font-family:arial;
    text-decoration: none;
    padding-top:0px;
    margin-right: 40px;
    font-size: 22px;
    padding-left:15px;
    padding-right: 15px;
    letter-spacing: 1px;
}
a:hover{
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: #92AFFE;
    height: 100%;
}
body{
    background-color: #F0F0F0;

}
section{
    text-align: center;
}
.columnas{
    width: 100%;
    margin-top: 30px;
    column-width: 301px;
    column-count: 4;
    column-gap: 15px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #10379F;
    margin-top: 0px;
    height: 600px;
    background: linear-gradient(#0c47ff, #10379f);
}

.tarjeta a{
    text-decoration: none;
    color: white;
    background-color: transparent;
}
.tarjeta a:hover{
    filter: blur(0.5px);
}

.tarjeta{
    display: inline-block;
    margin-top: 100px;
    overflow: hidden;
    color: aliceblue;
}
.tarjeta img{
    transition: 1s;
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, blur-radius, color */
}

.tarjeta img:hover{
    transition: 1s;
    transform: scale(1.1);
    overflow: hidden;
    opacity: 0.5;
    cursor: pointer;

}

h3{
    margin-top: 30px;
}


.navegador {
    margin-top: 80px;
    width: 800px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    top: -49px;
    margin-bottom: 0px;
    display: inline-block;

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    font-size: 1.5em;
}
.navegador-ul li a {
    position: relative;
    background-color: #10379F;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: table-cell;
    width: 170px;
    vertical-align: middle;
}
.navegador-ul li a:hover{
    background-color: darkblue;

}
.navegador-ul > li {
    float: left;
    width: 200px;
    text-align: center;
}
/* Clearfix para limpiar después de los elementos flotantes */
.navegador-ul:after {
    content: "";
    display: table;
    clear: both;
}
.navegador-ul li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.navegador-ul li:hover > ul{
    display: block;
}
.cabecera  a{
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.contenedor-principal {
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #10379F;
    color: #FFF;
    z-index: 1000;

}
.contenedor-principal a{
    text-decoration: none;
    color: #FFF;
    background-color: transparent;

}
.div-izquierdo {
    position: absolute; /* Añadido para posicionar el div exactamente donde quieras */
    top: 50%; /* Centra el div verticalmente */
    transform: translateY(-50%); /* Centra el div verticalmente */
    width: 84px;
}

.div-centro {
    position: absolute; /* Añadido para posicionar el div exactamente donde quieras */
    top: 50%; /* Centra el div verticalmente */
    left: 84px; /* Posiciona el div a la derecha del logo */
    transform: translateY(-50%); /* Centra el div verticalmente */
    width: 550px;
    text-align: left;
    padding-left: 50px;
}

.div-derecho {
    position: absolute; /* Añadido para posicionar el div exactamente donde quieras */
    top: 50%; /* Centra el div verticalmente */
    right: 40px; /* Posiciona el div 40px desde la derecha */
    transform: translateY(-50%); /* Centra el div verticalmente */
    text-align: right;
}

ul {
    list-style-type: none; /* Quita la decoración de todas las listas */
}
.navegador-ul li a {
    position: relative;
    background-color: #10379F;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: table-cell;
    width: 170px;
    vertical-align: middle;
}

.navegador-ul li a:hover {
    background-color: darkblue;
    text-decoration: none;
}

.navegador-ul>li {
    float: left;
    width: 200px;
    text-align: center;
}



.navegador-ul li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    text-align: left;
}

.navegador-ul li:hover>ul {
    display: block;
}

.cabecera a {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

/* PIE DE PÁGINA */
footer{
    padding-top: 1px;
    background-color: #04206b;
    height: 131px;
    padding-left:35px;
    color:white;
    margin-left: auto;
    margin-right: auto;
}
.ubica{
    float: inline-end;
    padding-right: 40px;
    padding-top: 22px;
    font-family:arial;
    font-style:normal;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 24px;
}
.ubica a{
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
}

.sig{
    padding-top: 22px;
    margin-bottom: 15px;
    width: 300px;
    margin-left: 0px;
}
.redes-sociales-pie{
    padding-top: 22px;
    padding-left: 40px;
    width: 30%;
}
.redes-sociales-pie p{
    margin-left: 0px;
    padding-bottom: 10px;
    font-family:arial;
    font-style:normal;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 24px;
    text-align: left;
}
.logo-social{
    background-color: #04206b; /* Gris */
    border-radius: 20%;
    border: 1px solid #233c81;
    transition: 0.9s;
    cursor: pointer;
}

.logo-social:hover {
        filter: grayscale(100%);
        background-color: #000; /* Gris */
        border-radius: 10px;
    }


/* GALERÍA DE IMÁGENES */
.contenedor-externo{
    text-align: center;
}
.contenedor-imagenes{
   display: inline-block;
   overflow: hidden;   
}
.columna-imagenes{
    width: 400px; /* Esto divide el ancho del contenedor en tres */
    float: left; /* Esto hace que las columnas se alineen horizontalmente */
    box-sizing: border-box; /* Esto asegura que el padding y el borde estén incluidos en el ancho */
    margin: 5px;
}
.columna-imagenes img{
    width: 100%; /* Esto hace que las imágenes se ajusten al ancho de la columna */
    display: block; /* Esto evita que las imágenes tengan un margen blanco debajo */
}
.titulo-imagenes{
    margin: 0;
    text-align: center;
}
.titulo-imagenes h2{
    margin: 0;
    width: 100%;
    padding:25px 0px;
    height: 60px;
    font-size: 3em;
    color: #233c81;
    background-color: #233c8134;/*Fondo con transparencia*/
}   
/* Este efecto se puede quitar si no convence */
.titulo-imagenes h2::before, .titulo-imagenes h2::after {
    content: '';
    display: block;
    /* width: 100%; */
    height: 2px;
    background-color: black;
}
.titulo-imagenes h2:hover::after, .titulo-imagenes h2:hover::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    filter: blur(2px); /* Añade desenfoque al pasar el cursor */
}
/* Nuestros animales */
.body-animales {
    min-height: 100%; /* Cambia height por min-height */
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/galeriaImagen07.webp"); /* Ruta a tu imagen de fondo */
    background-size: 100% 100%; /* Cambia cover por 100% 100% */
    background-attachment: fixed; /* Hace que la imagen de fondo sea fija */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: repeat-y; /* Añade esta línea */
}
.contenedor-central {
    overflow: auto; /* Añade esta línea */
    width: 100%;
}
.central-imagen, .central-texto{
    /* display: inline-block; */
    float: left;    
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
}
.central-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.central-texto{
    padding: 140px 20px;
    font-size: 2em;
    color: #bbbec4;
    vertical-align: middle;
}

.pie{
    background-color: #ffffff5e;
    padding: 20px;
    font-size: 1.5em;
    color: #bbbec4;
    text-align: center;
}

/* Página videos */
.contenedor-videos{
    width: 100%;
    height: 100%;
    text-align: center;
}
.caja-video{
    padding-top: 20px;
    display: inline-block;
    width: 30%;
    background: #ffffff1e;
    margin: 10px;
}
iframe{
    width: 90%;
    height: 300px;
}
.caja-video img{
    width: 200px;
    height: 300px;
}
.caja-video p, .caja-video h2{
    margin-left: 10px;
    text-align: left;
    color:#FFF;
}
/*Página de contacto*/

.formulario, .mapa{
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    height: 100%;
    color: #f0f8ff;
}
.formulario{
    padding-left: 60px;
}
.foto{

    margin: 0px auto;
}
.foto img, p, h2{
    width: 100%;
    margin: auto 8%; 
}
.foto a{
    text-decoration: none;
    background-color: transparent;

}
.foto span{
    margin:10px;
}

form {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Asegúrate de que padding no afecte el ancho total */
}


input[type="range"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #2905f8;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1100ff;
}

/* Estilos para la sección de cuotas */
/* #cuota_12, #cuota_20, #cuota_40, #cuota_otra {
    display: inline-block;
    margin-right: 10px;
} */
/* Fin página contacto */

/* Página cómo cuidarlos */
.caja-cuidarlos{
    margin: 10px;
    padding: 10px;
    /* background-color: #ffffff1e; */
    vertical-align: top;
    height: auto;
    background-color: #0000007e;
}

.caja-cuidarlos-tiulo h2{
    margin: 10px auto;
    padding: 0px;
    color: #FFF;
    text-align: center;
    width: 100%;
    font-size: 4em;
}

.caja-cuidarlos p{
    margin: 10px;
    padding: 0px;
    color: #FFF;
    text-align: left;
    width: 100%;
    font-size: 1.5em;
}
.caja-cuidarlos img{
    display: block;
    margin: auto;
    opacity: 1;
    width: 100%;
    height: 200px;
}
.caja-cuidarlos-subtiulo p{
    text-align: center;
    margin: 30px auto;
    font-size: 2.0em;
}
.caja-cuidarlos-articulo{
    padding: 30px;
    margin: 10px auto;
    color: #FFF;
    text-align: left;
    background-color: #00000086;
    width: 80%;

}
.caja-cuidarlos-articulo h3{
    font-size: 3em;
    color:#e9eef7
}
/* Página Curiosidades */
.curiosidades-cuerpo{
    margin: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    height: auto;
    background-color: #0000007e;
    text-align: center;
}
.curiosidades-cuerpo h2{
    margin: 0px auto;
    width: auto;
    color: #FFF;
    font-size: 3em;
    transition: 0.6s;
}
.curiosidades-cuerpo h2:hover{
    color: #168f7141;
    background-color: #ffffff1e;
    transition: 0.6s;
}
.curiosidades-cuerpo img{
    width: 800px;
    text-align: center;
    
}
.curiosidades-cuerpo .texto{
    margin: 10px auto;
    padding: 20px;
    color: #FFF;
    text-align: left;
    width: 100%;
    font-size: 1.5em;
    background-color: #00000086;
    width: 80%;
}
.curiosidades-cuerpo table{
    margin: 10px auto;
    padding: 20px;
    color: #FFF;
    text-align: left;
    width: 100%;
    background-color: #00000086;
    width: 80%;
}
.curiosidades-cuerpo table tr, th, td{
    padding: 15px;
}